/* COLOR PALETTE
red: #c22611
orange: #e5451d
blue: #145b9c
light grey: #c1c3c2
grey: #747d90
#d54215
*/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  flex-grow: 1;
  padding-left: 20px;
  color: #d54215;
}

h2 {
  font-size: 22px;
  font-weight: 400;
}

h3 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 100;
}

header {
  align-items: center;
  background-color: white;
}

nav {
  padding-right: 20px;
}

#banner {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
}

#banner-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

#aside-img {
  height: 200px;
  width: 260px;
}

/* aside {
  margin: 30px;
} */

button {
  border: none;
  outline: none;
}

button, .radio-filter label:hover {
  cursor: pointer
}


.hidden {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.nav-btn {
  color: #d54215;
  background: none;
  padding: 0 25px 0 25px;
}

#main {
  margin: 30px;
}

#search-container {
  background: #dedede;
  height: auto;
  max-width: 1000px;
  min-width: 950px;
  align-content: space-around;
  box-shadow: 6px 6px 6px darkgrey;
  margin: -200px 15px 30px 15px;
  z-index: 1;
}

#search-bar {
  width: 80%;
  height: 40px;
  margin: 30px 0 0 30px;
}

.radio-filter {
  width: 90%;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
}

.radio-filter input[type="radio"] {
  opacity: 100;
  position: fixed;
  width: 0;
}

.radio-filter label {
  padding: 10px;
  margin: 0 5px 10px 5px;
  color: black;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  font-size: 13px;
  text-align: center;
}

input[type=radio]:checked + label {
  color: #f00;
  font-style: normal;
}

.btn-labels {
  margin-top: 10px;
}

.recipes-container, .pantry-container, .all-recipes-container {
  flex-wrap: wrap;
}

.recipe-card {
  width: 275px;
  border: lightgray 1px solid;
  box-shadow: 6px 6px 6px darkgray;
  text-align: center;
  margin: 15px 20px 15px 15px;
  overflow: hidden;
}

.recipe-display-img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.recipe-action-btns {
  margin: -150px 10px 85px 10px;
  border-radius: 50%;
  padding: 10px;
  justify-content: space-between;
}

#favorite-btn, #whats-cookin-btn {
  background: white;
  opacity: 0.8;
  border-radius: 50%;
}

.ingredient-card {
  background: lightgray;
  padding: 10px 20px;
  margin: 30px;
  width: 20%;
  flex-direction: row-reverse;
  justify-content: space-between;
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
}

.decorative-line {
  height: 80%;
  align-self: center;
  border-right: 8px solid;
  border-radius: 20%;
}

.decorative-line-1 {
  color: #d54215;
}

.decorative-line-2 {
  color: #ff7810;
}

.decorative-line-3 {
  color: #ffc810;
}

.decorative-line-4 {
  color: #0C9860;
}

.decorative-line-5 {
  color: #0CBDE9;
}

.decorative-line-6 {
  color: #0C64E9;
}

.decorative-line-7 {
  color: #130CE9;
}

.decorative-line-8 {
  color: #6C14F0;
}

.decorative-line-9 {
  color: #E214F0;
}

#whats-cookin-recipe-title {
  margin-top: 60px;
  font-size: 30px;
  font-weight: 300;
}

#whats-cookin-img {
  height: 400px;
  margin-top: 20px;
}

#aside-recipe-box {
  border: lightgray 1px solid;
  box-shadow: 6px 6px 6px darkgray;
}

#aside-contents {
  padding: 10px;
}

ul {
  font-weight: 300;
  list-style-type: none;
}

.aside-btns {
  justify-content: space-around;
  padding-top: 20px;
}

.aside-btn {
  background-color: #dedede;
  border-radius: 50%;
  padding: 10px;
}

.aside-btn-clk {
  background-color: #145b9c;
}

.img-icon {
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

/* ---- Grow Webkit ---- */
.grow img{
transition: 1s ease;
}

.grow img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: .5s ease;
}

.icon {
  height: 40px;
  width: 40px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 900px;
  height: 600px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-banner {
  object-fit: cover;
  width: 600px;
  height: 420px;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.card-effect {
  border: lightgray 1px solid;
  box-shadow: 6px 6px 6px darkgray;
}
